.graph-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.graph-main-box {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  .graph-options-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .graph-box {
    width: 70%;
    height: 95%;
  }
}
