@import "../base/base";

/* -------------------------- Main container -------------------------- */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: (100% - $footer-height);
}
/* -------------------------- Main container -------------------------- */

/* -------------------------- Content container -------------------------- */
.content-container {
  display: flex;
  flex-direction: column;
  height: max-content;

  h1 {
    width: 100%;
  }

  p {
    width: 100%;
    text-align: justify;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 770px) {
    width: 100%;
    height: 100%;

    grid-template-columns: 100%;
  }
}
/* -------------------------- Content container -------------------------- */

/* -------------------------- Breadcrumbs box -------------------------- */
.breadcrumb-container {
  width: 100%;
  height: max-content;

  display: flex;
  flex-direction: column;
  flex-wrap: inherit;
  justify-items: center;
  align-items: center;

  @media screen and (max-width: 770px) {
    margin-left: 5px;
    margin-right: 5px;

    grid-row-gap: 20px;

    grid-template-columns: 100%;
  }
}
/* -------------------------- Breadcrumbs box -------------------------- */

/* -------------------------- Breadcrumbs links -------------------------- */

.breadcrumb-link-container {
  $breadcrumb-width: 85%;

  width: 80%;
  display: flex;
  justify-self: center;

  /* Style the list */
  ul.breadcrumb {
    width: $breadcrumb-width;
    display: flex;
    flex-wrap: wrap;

    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }

  /* Display list items side by side */
  ul.breadcrumb li {
    display: flex;
    width: 15rem;
    margin: 0.35rem;
  }

  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
  }

  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #444;
    text-decoration: none;
    width: max-content;
  }

  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    text-decoration: underline;
  }

  span, a {
    font-size: 1.4rem;
  }

  a {
    width: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  span {
    width: (100% - $breadcrumb-width);
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  nav {
    width: 85%;
    justify-content: space-evenly;
  }

}
/* -------------------------- Breadcrumbs links -------------------------- */

/* -------------------------- Link menu links -------------------------- */
.link-menu-container {
  width: 50rem;
  display: flex;
  flex-direction: row;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  align-items: center;

  .menu-list {
    width: 100%;
    height: max-content;

    .menu-list_button {
      width: 100%;
      height: 100%;
      display: flex;
    }
  }
}
/* -------------------------- Link menu links -------------------------- */


/* -------------------------- Modal button -------------------------- */
.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -------------------------- Modal button -------------------------- */
